* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --head-font-size: calc(clamp(0.65rem, 0.47rem + 0.91vw, 1.15rem) * 2);
    --font-size: clamp(0.63rem, 0.03rem + 2.95vw, 2.25rem);
    --footer-font-size: clamp(0.43rem, 0.07rem + 1.83vw, 1.44rem);
}

html {
    font-size: 62.5%;
}

header {
    text-align: center;
    height: 20vh;
    font-size: var(--head-font-size);
}

header p {
    margin-top: 1.5vh;
}

main {
    height: calc(50% + 10rem);
    margin: auto;
}

/* form with box shadow */
form {
    background-color: hsl(0, 0%, 80%);
    box-shadow: 1vh 1vw 10vw 2vw hsl(0, 0%, 40%);
    width: calc(100% - 100px);
    margin: auto;
    position: relative;
}

fieldset {
    padding: 2vh 1vw;
    font-size: var(--font-size);
    background: linear-gradient(to top, hsl(0, 0%, 0%), hsl(0, 0%, 80%));
    color: ivory;
}

.userinfo, .yes-no, .qna, .textarea {
    margin-bottom: calc(2% + 0.2vh);
}

/*  style label set font size */
label {
    font-size: var(--font-size);
}

/*             style input filed               */
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: .5%;
    margin-top: 0.4em;
    font-size: 100%;
    background: linear-gradient(to top, hsl(0, 0%, 0%), hsl(0, 0%, 80%));
    color: ivory;
}

/*      style placeholder in input so the users will get idea what to fill */
::placeholder{
    color: ivory;
}

input[type="radio"], input[type="checkbox"] {
    margin-left: calc(50% + 2vw);
    transform: scale(1.5);
}

button {
    width: 100%;
    height: calc(2% + 1.2rem);
    font-size: var(--font-size);
    padding: 0.5rem;;
    border: none;
    background: linear-gradient(to top, hsl(0, 0%, 0%), hsl(0, 0%, 80%));
    color: ivory;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}


/*            footer                         */
footer {
    text-align: center;
    font-size: var(--footer-font-size);
    font-weight: 600;
    width: 100%;
    margin-top: calc(10% + 0.5rem);
}

.copyright_container {
    padding-bottom: 0.2vh;
    border-bottom: 0.09rem solid black;
}

.author {
    padding-top: 0.5vh;
}

/* style model */
.model {
    display: none;
    font-size: var(--font-size);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.8;
    z-index: 1;
}

.container, #closebtn {
    width: 50%;
}

.model .container {
    background-color: white;
    margin: 18% auto;
    padding: 5%;
    width: 70%;
    row-gap: calc(8% + 1.2em);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'heading heading'
    'userinfo userinfo'
    'button button'
    'note note';
}

.model #name {
    font-weight: 800;
}

.container h2 {
    grid-area: heading;
    margin: auto;
}

.container .text {
    text-align: center;
    grid-area: userinfo;
    width: 100%;
}

.container  #closebtn {
    height: calc(20% + 4rem);
    grid-area: button;
    margin: auto;
}

.container .note {
    grid-area: note;
    font-size: var(--footer-font-size);
}


/*               for mobile phone      */

@media screen and (max-width: 480px) {
    input[type="radio"], input[type="checkbox"] {
        transform: scale(1);
    }

    fieldset {
        padding: 1vh 1vw;
    }

    .qna, .yes-no {
        padding: calc(1.5% + .2vh);
    }

    input[type="text"], input[type="email"], textarea {
        padding: 0.5%;
    }

    .model .container {
        row-gap: calc(8% + 1.5em);
    }
}

/*             for tablets             */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .qna, .yes-no {
        padding: calc(1.5% + .2vh);
    }
}


/*               for desktop          */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    label {
        font-size: var(--font-size);
    }

    .qna, .yes-no {
        padding: calc(1.5% + .2vh);
    }

    footer {
        bottom:  0;
    }
}



/*  for extra large screen */
@media screen and (min-width: 1201px) {
    .qna, .yes-no {
        padding: calc(1% + .2vh);
    }
}